<div class="card-container" [ngClass]="{ 'green-border': isLatestReserved }">
  <img [src]="house.photoSource" alt="house.street" />
  <div class="card">
    <p>Miejscowość: {{ house.address.city }}</p>
    <p>Adres: {{ address }}</p>
    <p>Powierzchnia: {{ house.surface }}</p>
    <p>Cena: {{ house.price | localeCurrency }}</p>
    <p>Status: <span appColorsStatus [houseStatus]="house.status">{{ house.status | uppercase }}</span></p>
    <!-- <p>Status: <ng-content></ng-content></p> -->
    <button class="btn" (click)="reservedHouse()">Zarezerwuj</button>
  </div>
</div>
